.thumb-img-del {
  position: absolute;
  right: 2px;
  bottom: 2px;
}

.edit-icon-del {
  width: 20px;
  height: 20px;
  background: url("img__svg/delete/delete.svg") no-repeat center center;
  background-size: 100% 100%;
}

.thumb-box {
  height: 100px;
  width: 100px;
  border: 1px solid #ddd;
  background: #eee url("img__svg/photo-camera.svg") no-repeat center center;
  background-size: 40px 40px;
  margin-right: 10px;
}

.thumb-img {
  width: 100px;
  height: 100px;
}

.product-name {
  width: 100px;
}