.z-index {
  &_0 {
    z-index: 0;
  }
   &_1 {
    z-index: 1;
  }
   &_88 {
    z-index: 88;
  }
  &_99 {
    z-index: 99;
  }
  &_100 {
    z-index: 100;
  }
  &_102 {
    z-index: 102;
  }
  &_999 {
    z-index: 999;
  }
  &_9999 {
    z-index: 9999;
  }
}