button[size="mini"] {
  -webkit-appearance: none;
}

button.button,
.button {
  &-main {
    border-radius: 2px;
    color: #FFF;
    background-color: $mainColor;
  }
  &-ui {
    display: inline-block;
    padding: 6px 10px;
    &-defaule {
      background-color: #ccc;
      color: #343434;
    }
    &-success {
      background-color: #00B266;
      color: #FFF;
    }
  }
  &-icon {
    &-del {
      display: inline-block;
      width: 19px;
      height: 25px;
      padding: 0;
      line-height: 25px;
    }
  }
}

.pull-down-refresh {
  position: fixed;
  font-size: 12px;
  bottom: 30px;
  left: 10px;
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  background-size: 36px;
  border-radius: 100%;
  z-index: 99;
}

.refresh {
  &-true {
    animation: rotate .6s infinite linear
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0)
  }
  60% {
    transform: rotate(280deg)
  }
  100% {
    transform: rotate(360deg)
  }
}


/** wxss **/


/** 修改button默认的点击态样式类**/

.button-hover {
  // background-color: red;
}


/** 添加自定义button点击态样式类**/

.other-button-hover {
  background-color: blue;
}